@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    
}

section,
 footer{
    padding: 54px 0;
}
h3{
     font-size: 50px;
}
p{
    color: #0000009c;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    background-color: #09BD3C;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover{
    background-color: aquamarine;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
   display: flex; 
   align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}
nav ul a:not(.btn):after{
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;

}
nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    align-items: center;
    padding: 0 90px;
    
}
.banner .banner-text h1{
    font-size: 60px;
    color: white;
    
}
.banner .banner-text p{
    font-size: 35px;
    color: black;
    font-weight: lighter;
    margin: 18px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sessão1{
    background-color: white;
}
.sessão1 .container{
    display: flex;
    align-items: center;
}
.sessão1 .sessão1-text{
    width: 50%;
    padding: 0 40px;
}
.sessão1-text img{
    border-radius: 15px;
}
.sessão1 .sessão1-text h3{
    font-size: 56px;
    color: #09BD3C;
    
}
.sessão1 .sessão1-text p{
    margin: 5px 0 10px 0;
    
}
.sessão1 .sessão1-img{
    width: 50%;
    
}
.sessão1 .sessão1-img img{
    width: 100%;
    border-radius: 14px;
}
.dados h3{
    text-align: center;
    color: #09BD3C;
}
.dados p{
    margin-bottom: 20px;
    text-align: center;
    transition: 0.3s;
}
.dados .dados-desper{
    color: white;
}

.dados .card-item{
    background-color: #09BD3C;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
    border: 5px solid #71767a23;
}
.dados .card-item img{
    width: 300px;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
}
.dados{
    background-color: white;
}
.card-item .titulo{
    font-size: large;
    color: white;
    transition: 0.3s;
}
.cards{
    display: flex;
    justify-content: center;
}
.dados .card-item:hover{
    background-color: aquamarine;
    margin-top: -5px;
}
.dados .card-item:hover .titulo{
    color: black;
}
.dados .card-item:hover p{
    color: black;
}
.footer p{
    color: white;
}
footer{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #09BD3C;

}
.left{
    flex-grow: 1;
    color: white;
}
.right{
    margin-left: 10px;
}
.práticas{
    width: 50%;
    float: right;
}
.IA{
    text-align: center;
}
.IA img{
    
    align-items: center;
    display: block;
    margin: o auto;
}
.IA h3{
    color: #09BD3C;
}
.IA p{
    width: 60%;
    max-width: 100%;
    display: inline-block;
}
.IA img{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #09BD3C;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}
.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contato-info .left-side div i{
    font-size: 24px;
    margin-right: 20px;
    color: white;
}
.contato-info .left-side p{
    font-size: 17px;
    color: white;
}
.contato-info .right-side{
    width: 50%;
}
.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: #212121;
    font-weight: lighter;
}
.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
    border-color: #09BD3C;
}
.contato-info .right-side textarea{
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}
.contato-info .right-side button{
    border: none;
}
.galeria{
    width: 350;
    display: inline-block;
    text-align: center;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*TELA RESPONSIVA PARA TABLET*/

@media screen and (max-width: 768px){
    section,
    footer {
      padding: 30px 0;
    }
    
    h3 {
      font-size: 36px;
    }
    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
    
    .btn {
      padding: 10px 15px;
    }
    nav {
      flex-direction: column;
      padding-top: 10px;
    }
    
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    nav ul a {
      margin: 10px 0;
    }
    .banner .banner-text {
      margin: 50px;
      padding: 0 30px;
    }
    .banner .banner-text h1 {
      font-size: 40px;
    }
    
    .banner .banner-text p {
      font-size: 24px;
      margin: 12px 0;
    }

    .sessão1 .container {
      flex-wrap: wrap;
    }
    
    .sessão1 .sessão1-text {
      width: 100%;
      padding: 0 20px;
    }
    
    .sessão1-text img {
      border-radius: 15px;
      width: 100%;
    }
    .sessão1 .sessão1-text h3 {
      font-size: 36px;
    }
  
    .sessão1 .sessão1-img {
      width: 100%;
      margin-top: 20px;
    }

    .dados .card-item {
      width: 100%;
    }
    
    .dados .card-item img {
      width: 100%;
    }
    
    .cards {
      flex-wrap: wrap;
    }
    
    footer {
      flex-direction: column;
      text-align: center;
    }

    .right {
      margin-left: 0;
      margin-top: 10px;
    }

    .left {
      flex-grow: 1;
      color: white;
    }

    
    .práticas {
      width: 100%;
    }

    .IA p {
      width: 100%;
      max-width: 100%;
    }
    
    .contato-info {
      flex-wrap: wrap;
      margin-top: 20px;
    }
    
    .contato-info .left-side {
      width: 100%;
      padding: 20px;
      border-radius: 14px;
      margin-bottom: 20px;
    }

    .contato-info .left-side div i {
      font-size: 20px;
      margin-right: 10px;
    }
    
    .contato-info .left-side p {
      font-size: 14px;
    }
    
    .contato-info .right-side {
      width: 100%;
    }
    
    .contato-info .right-side input,
    .contato-info .right-side textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      height: 35px;
      padding: 10px;
      border-radius: 9px;
      transition: 0.3s;
      border: 1px solid #f1f1f1;
      color: #212121;
      font-weight: lighter;
    }
         
    .contato-info .right-side textarea {
      padding: 10px;
    }
    
    .galeria {
      width: 100%;

    }
}



/*TELA RESPONSIVA PARA CELULAR*/
@media screen and (max-width: 600px){
    section,
    footer {
      padding: 20px 0;
    }
    
    h3 {
      font-size: 24px;
    }
    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }
    
    .btn {
      padding: 8px 12px;
    }   
    nav {
      flex-direction: column;
      padding-top: 10px;
    }
    
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    nav ul a {
      margin: 10px 0;
      font-size: 12px;
    }
    .banner .banner-text {
      margin: 30px;
      padding: 0 15px;
    }
    .banner .banner-text h1 {
      font-size: 30px;
    }
    
    .banner .banner-text p {
      font-size: 18px;
      margin: 8px 0;
    }
    .sessão1 .container {
      flex-wrap: wrap;
    }
    
    .sessão1 .sessão1-text {
      width: 100%;
      padding: 0 10px;
    }
    
    .sessão1-text img {
      border-radius: 10px;
      width: 100%;
    }

    .sessão1 .sessão1-text h3 {
      font-size: 24px;
    }

    
    .sessão1 .sessão1-img {
      width: 100%;
      margin-top: 10px;
    }

    .sessão1 .sessão1-img img {
      width: 100%;
      border-radius: 10px;
    }

    .dados p {
      margin-bottom: 15px;
      text-align: center;
      transition: 0.3s;
    }
    
    .dados .card-item {
      margin: 10px;
      border-radius: 10px;
      width: 100%;
      border: 3px solid #71767a23;
    }
    
    .dados .card-item img {
      width: 100%;
      border-radius: 10px;
      margin: 5px auto;
    }
    
    .card-item .titulo {
      font-size: medium;
    }
    
    .cards {
      flex-wrap: wrap;
    }
    
    .dados .card-item:hover {
      margin-top: -3px;
    }

    footer {
      flex-direction: column;
      text-align: center;
    }

    .right {
      margin-left: 0;
      margin-top: 10px;
    }

    .left {
      flex-grow: 1;
      color: white;
    }

    
    .práticas {
      width: 100%;
    }
    
    .IA p {
      width: 100%;
      max-width: 100%;
    }
    
    .IA img {
      border-radius: 10px;
    }
    
    .contato-info {
      flex-wrap: wrap;
      margin-top: 20px;
    }
    
    .contato-info .left-side {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    
    .contato-info .left-side div i {
      font-size: 18px;
      margin-right: 10px;
    }
    
    .contato-info .left-side p {
      font-size: 14px;
    }
    
    .contato-info .right-side {
      width: 100%;
    }
    
    .contato-info .right-side input,
    .contato-info .right-side textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      height: 30px;
      padding: 8px;
      border-radius: 9px;
      transition: 0.3s;
      border: 1px solid #f1f1f1;
      color: #212121;
      font-weight: lighter;
    }
    
    .contato-info .right-side textarea {
      padding: 8px;
    }
    
    .galeria {
      width: 100%;
    }
    
}
